
/*ImageList*/
.item-img {
	padding-top: 15px;
	padding-bottom: 15px;
}

.item-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: opacity 300ms;
}

.item-img input {
	position: absolute;
	top: 15px;
	right: 15px;
	height: 25px;
	width: 25px;
	cursor: pointer;
	opacity: 0;
}

.wrapper-img {
	background-color: black;
	height: 250px;
}

.item-selected input {
	opacity: 1;
}

.item-selected img {
	opacity: .75;
}